*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #ece9e6;
    background: linear-gradient(to right, 
    #ffffff,
    #ece9e6);
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 100vh   ;
}


img{
    max-width: 100%;
}

.mobile-container{
    width: 400px;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button{
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.fav-container{
    background-color:rgb(233,199,255);
    text-align: center;
    padding: 1rem;
}

.fav-meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li{
    margin: 5px;
    width: 85px;
}

.fav-meals li img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 10px 2px #3333331a;
}

.fav-meals li span{
    font-size: 0.9rem;
}

.meal {
    border-radius: 3px;
    box-shadow:  0 0 10px 2px #3333331a;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header{
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img{
    object-fit: cover;
    height: 240px;
    width: 100%;
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    background-color: transparent;
    color: rgb(197, 188, 188);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn .active{
    color: rebeccapurple;
}