*{
    box-sizing: border-box;
}

body{
    background-image: url(./assets/francesca-hotchin-FN-cedy6NHA-unsplash.jpg);
    margin: 0;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    margin-top: -15rem;
    font-weight: normal;
}

.contdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.contdown-el{
    text-align: center;
}

.contdown-el span{
    font-size: 1.3rem;
    font-weight: bold;
}