body{
    margin: 0;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg ,#b8c6db 0%, #f5f7fa 100% );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px rgba(100, 100 ,100,0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}
h2{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
.quiz-header{
    padding:4rem
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    color: #fff;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 1.7rem;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover{
    background-color: #732d91;
 
}